.last-sections {
    border-radius: 5px;
    margin: 15px 0px;
    padding: 15px 0px;
    height: 500px;
    h2 {
        color: $color-chia;
        text-align: center;
    }
    .card {
        height: 400px;
        margin: 15px auto;
    }
}
